* { margin: 0; padding: 0; }

header {
	text-align: center;
}

h1 {
	margin-bottom: 10px;
	margin-top: 20px;
}

h2 {
	margin-bottom: 15px;
	font-weight: lighter;
}

select {
	width: 150px;
	margin-left: 10px;
}

.game {
	/*border: 1px solid blue;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
}

.game button {
	margin-top: 25px;
	width: 100px;
	height: 25px;
	border-radius: 5px;
	cursor: pointer;
}

.square {
	width: 350px;
	height: 250px;
	border: 1px solid black;
	cursor: pointer;
}

.group {
	display: flex;
	margin-top: -1px;
}

.red {
	background-color: #e71610;
}

.green {
	background-color: #93d36e;
	margin-left: -1px;
	
}

.blue {
	background-color: #1464f7;
	
}

.yellow {
	background-color: #fffb64;
	margin-left: -1px;
}

.anim { opacity: 0.7; }